.dashboard {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  h1 {
    font-size: 32px;
  }

  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
}