.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .form-login {
    background: white;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.1);


    .input-form-login {
      display: block;
      margin: 10px 0;
      width: 266px;
      border-radius: 10px;
      border: 1px solid black;
      padding: 8px;
    }

    .btn-entrar {
      cursor: pointer;
      width: 75%;
      height: 35px;
      border-radius: 10px;
      border: 1px solid rgb(0, 0, 0);

    }

    :hover.btn-entrar {
      background-color: rgb(148, 148, 148);
    }

    .btn-criar-conta {
      cursor: pointer;
    }


  }
}