.reservas {
  padding: 20px;

  input, button {
    margin: 5px;
  }

  .quartos {
    display: flex;
    gap: 10px;

    .card {
      padding: 10px;
      background: white;
      border-radius: 6px;
    }
  }
}