
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #080708;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  color: #76520e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-size: 40px;
}

.email-senha {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.email, .senha {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

label{
  display: flex;
  align-self: first baseline;
  font-size: 20px;
  font-weight: 700;
}

.inplogin {
  width: 320px;
  border: 1px solid #76520e;
  box-shadow: 0 3px 10px #76520e;
  border-radius: 10px;
  height: 30px;
}

.entrar {
  display: flex;
  align-items: center;
  justify-content: center;

}

#log-in {
  width: 300px;
  border: 1px solid #76520e;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  background-color: #76520e;
  color: #080708;
  font-size: 25px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.baixo{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #76520e;
  font-weight: 700;
}