.cadastro-container {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(137, 108, 163);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(42, 0, 58, 0.3);
  padding: 0 35px 10px;

  .login-cadastro {
    text-align: center;
    color: #ffffff;
    font-size: 35px;
  }

  .formulario-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .formulario-interno-cadastro {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input-cadastro {
      height: 25px;
      padding: 8px;
      border-radius: 10px;
      border: none;
    }
  }

}